@import "../_bootstrap/less/bootstrap.less";
@import "../_bootstrap/less/responsive.less";

div.center {
  margin: auto;
}
iframe.center {
  margin: auto;
}

@media (min-width: @navbarCollapseWidth) {
  div.sidebar-fixed{
    position: fixed;
  } 
  div.navbar {
    display: none;
  }
}

:link.external { 
    background: url(/img/external.png) 100% 0% no-repeat; 
    display: inline;
}
