@import "../_bootstrap/less/bootstrap.less";
@import "../_bootstrap/less/responsive.less";

div.center {
  margin: auto;
}
iframe.center {
  margin: auto;
}

@media (min-width: @navbarCollapseWidth) {
  div.sidebar-fixed{
    position: fixed;
  } 
  div.navbar {
    display: none;
  }
}

:link.external { 
  background-image: url(/img/external.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  display: inline-block;
  margin-right: 12px;
  padding-right: 28px;
}

footer.align-right {
  float: none;
  text-align: right;
}

.centered {
  text-align: center;
}

.dl-horizontal.dl-wide dt {
  width: 15em;
}

.dl-horizontal.dl-wide dd {
  margin-left: 16.5em;
}
