<ul class="nav nav-list">
  <li class="nav-header {% if page.active == "home" %}active{% endif %}">
    <a href="/">Home</a>
  </li>

  <li class="{% if page.active == "worship" %}active{% endif %}">
    <a href="/worship/">Mass Times</a>
  </li>
  <li class="{% if page.active == "commentary" %}active{% endif %}">
    <a href="/commentaries/">Weekly Reflection</a>
  </li>
    <li>
    <a class="external" target="_blank"
       href="http://www.easterbrooks.com/personal/calendar/index.php">
      Calendar
    </a>
  </li>
  <li class="{% if page.active == "find-us" %}active{% endif %}">
    <a href="/find-us/">Find Us</a>
  </li>
  <li class="{% if page.active == "history" %}active{% endif %}">
    <a href="/history/">Parish History</a>
  </li>

  <li class="nav-header">News</li>
  <li><a href="/">Blog</a></li>
  <li class="{% if page.active == "newsletters" %}active{% endif %}">
    <a href="/newsletters/">Newsletters</a>
  </li>
  <li class="{% if page.active == "magazines" %}active{% endif %}">
    <a href="/magazines/">Parish Magazine</a>
  </li>
  <li class="{% if page.active == "calendar" %}active{% endif %}">
    <a href="/calendar/">Social/Liturgical Calendar</a>
  </li>

  <li class="nav-header">Groups</li>
  <li class="{% if page.active == "pastoral-council" %}active{% endif %}">
    <a href="/pastoral-council/">Pastoral Council</a>
  </li>
  <li class="{% if page.active == "justice-peace" %}active{% endif %}">
    <a href="/justice-peace/">Justice &amp; Peace</a>
  </li>
  <li class="{% if page.active == "zone-3" %}active{% endif %}">
    <a href="/zone-3/">Zone 3</a>
  </li>

</ul>
