<ul class="nav nav-list">
  <li class="nav-header {% if page.active == "home" %}active{% endif %}">
    <a href="/">Home</a>
  </li>
  <li class="{% if page.active == "worship" %}active{% endif %}">
    <a href="/worship/">Mass Times</a>
  </li>
  <li class="{% if page.active == "commentary" %}active{% endif %}">
    <a href="/">Weekly Reflection</a>
  </li>
  <li>
    <a class="external" target="_blank"
       href="http://www.easterbrooks.com/personal/calendar/ecclcal.html">
      Calendar
    </a>
  </li>
  <li class="{% if page.active == "find-us" %}active{% endif %}">
    <a href="/find-us/">Find Us!</a>
  </li>

  <li class="nav-header">News</li>

  <li><a href="/">Blog</a></li>
  <li><a href="/">Newsletters</a></li>
  <li><a href="/">Parish Magazine</a></li>
  <li><a href="/">Social/Liturgical Calendar</a></li>
  
  <li class="nav-header">Groups</li>

  <li><a href="/">Pastoral Council</a></li>
  <li><a href="/">Justice &amp; Peace</a></li>
  <li><a href="/">Zone 3</a></li>
  
  <li class="nav-header">Links</li>

  <li class="{% if page.active == "history" %}active{% endif %} ">
    <a href="/history/">Parish History</a>
  </li>

  <li>
    <a class="external" target="_blank"
       href="http://www.apostles.com/thomasmore.html">
      St Thomas More
    </a>
  </li>
  
  <li><a class="external" target="_blank"
         href="http://www.nottingham-diocese.org.uk/">
    Nottingham Diocese
  </a></li>
  <li><a class="external" target="_blank"
         href="http://www.vatican.va/phome_en.htm">The Vatican</a></li>
  <li>
    <a class="external" target="_blank"
       href="http://www.universalis.com/Europe.England.Westminster/mass.htmsalis.com/mass.htm">
      Today's Readings
    </a>
  </li>
  <li>
    <a class="external" target="_blank"
       href="http://philip-o-dowd.com/">
      Fr. Philip O'Dowd
    </a>
  </li>
</ul>
