---
layout: page
active: commentary-2012
image: lindisfarne-luke.jpeg
imgtitle: Lindisfarne Gospels Portrait of St. Luke, by manuscript_nerd, http://www.flickr.com/photos/83142434@N07/
---

<h1>Gospel Commentaries<br /><small>Deacon Anthony</small></h1>

<div class="dl-horizontal commentaries span10">
<section>
  {% for post in site.categories.commentaries-2012 %}

    {% assign post_next = site.categories.commentaries-2012[forloop.index] %}

    {% if post_next %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture month %}{{ post.date | date: '%m' }}{% endcapture %}
      {% capture nyear %}{{ post_next.date | date: '%Y' }}{% endcapture %}
      {% capture nmonth %}{{ post_next.date | date: '%m' }}{% endcapture %}
    {% endif %}

    {% if forloop.first %}
      <h2>{{ year }}</h2>
      <dl>
        <ul>
    {% endif %}

    <li>
      <dt>{{ post.date | date: "%B %e, %Y" }}</dt>
      <dd>
        <a class="pdf" href="{{ post.url }}">{{ post.title }}</a>

      {% capture tyear %}{{ site.time | date: "%Y" }}{% endcapture %}
      {% capture dyear %}{{ tyear | minus:year }}{% endcapture %}
      {% capture dmonth %}{{ dyear | times:12 }}{% endcapture %}
      {% capture tmonth %}
        {{ site.time | date: "%m" | plus:dmonth }}
      {% endcapture %}
      {% capture delta %}{{ tmonth | minus:month | minus:1 }}{% endcapture %}

      {% if delta contains '-' %}
        (<a href="http://www.universalis.com/Europe.England.Westminster/{{ post.date | date: '%Y%m%d' }}/mass.htm">readings</a>)
      {% endif %}
      </dd>
    </li>

    {% if year != nyear %}
        </ul>
      </dl>
      <h2>{{ nyear }}</h2>
      <dl>
        <ul>
    {% elsif month != nmonth %}
        </ul>
        <ul>
    {% endif %}

    {% if forloop.last %}
        </ul>
      </dl>
    {% endif %}
  {% endfor %}
</section>
</div>
